body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-body {
  background: url("./image/night-sky.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 70px;
}

.char-area {
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  margin: 10px;
}
