.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-image: linear-gradient(navy, purple);
  width: 100%;
  text-align: center;
}

.footer-content {
  color: white;
}
